<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyy.saas.web.demo.dao.UserMapper">

    <resultMap id="userMap" type="com.xyy.saas.web.demo.po.User">
        <id property="id" column="id" />
        <result property="name" column="name" />
    </resultMap>

    <select id="findUserById" parameterType="com.xyy.saas.web.demo.po.User" resultMap="userMap">
        SELECT
        id,name
        FROM saas_user
        WHERE
        id = #{id}
    </select>

    <select id="fundUser" parameterType="com.xyy.saas.web.demo.po.User" resultMap="userMap">
        SELECT
        id,name
        FROM saas_user
    </select>
    <insert id="insert" parameterType="com.xyy.saas.web.demo.po.User" useGeneratedKeys="true" keyProperty="id">
        insert into saas_user (name) values(#{name})
    </insert>

</mapper>
